# Operators

## Types of Operators in Python

* Arithmetic Operators (For Basic calculation Purpose)
    * '*' --> Multiplication
    * '/'--> Division
    * '+' --> Addition
    * '-'-- > Subtraction
    * '%' --> Modulous
    
* Comparison Operator (For Comparing two variables and constants)
    * Less than '<'
	* greater than '>'
	* Equal to '=='
	* Less than or equal to '<='
	* Greater than or equal to '>='
	* Not equal to '!='
    
* Logical Operator (Used for Logical conditions)
    * And
    * Or
    * Not
  
* Identity Operator (For checking the identity of constants and variables)
    * is
    * is not

* Membership Operator (For finding relations between two variables)
    * in
    * not in
 
* Bitwise Operator (Binary numbers operations)
    * Bitwise And '&'
    * Bitwise OR '|'
    * Bitwise XOR '^'
    * Bitwise Not '~'
    * Left shift '<<'
    * Right shift '>>'

## Arithmetic Operator

In [4]:
#Addition
3+5

8

In [5]:
#Multiplication
4*2

8

In [6]:
#Subtraction
5-2

3

In [8]:
#Division
4/2

2.0

Arithmetic Operators output depends on the types of input we used.

In the above examples we used numeric input. Now lets try string inputs

In [10]:
"Hello"+3

TypeError: must be str, not int

In [13]:
"Hello "*3

'Hello Hello Hello '

In [14]:
"Hello"/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [15]:
"Hello"-3

TypeError: unsupported operand type(s) for -: 'str' and 'int'

As you can see in the above example the mulitplication is the only operator which can take both the string and numeric value in the same line

Now lets try only string input for operators

In [1]:
"Hello "+"World"

'Hello World'

In [19]:
"Hello "- "World"

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [20]:
"Hello" * "World"

TypeError: can't multiply sequence by non-int of type 'str'

In [21]:
"Hello "/"World"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

So When two strings are used as input only addition operators gives a proper output since its used for concatenating two string value

## Comparison Operator

Comparison operators return boolean values that is either the statement is true or false

In [3]:
3 > 5

False

In [4]:
2 < 5

True

In [5]:
3 >= 1

True

In [6]:
6 <= 4

False

In [7]:
3 == 3

True

In [8]:
4 != 1

True

## Logical Operator

And operators returns true if both the conditions are satisfied and false if any of the condition is not fulfilled.

In [11]:
x=3
if x>0 and x<5:
    print(x)

3

Or operators return true if either of the conditions matches. for eg in below x>0 is true but x<2 is false.
since one of the condition is true the if statement will run and print the output

In [12]:
if x>0 or x<2:
    print(x)

3

The return value of the not statement will be True if the statement is not True, otherwise it will return the value as False.

In [32]:
x = False
print(not x)

y= True
print(not y)

True
False

# Identity Operators

Identity operators are used for comparing two objects

* Is - returns true value if the objects are similar

In [2]:
x= 4
y= 4
print(x is y)

True

* Is not - returns true value if the objects are not similar.

In [4]:
x= 2
y= 4
print(x is not y)

True

# Membership Operators

Checks if the sequence is present in the object or not

* in - Returns true if the values is present in the object

In [6]:
x =[1,2,3,5,6]
y = 3

print(y in x)

True

* not in Returns true if the values is not present in the object

In [9]:
x =[1,2,3,5,6]
y = 4

print(y not in x)

True

# Bitwise Operator

In [15]:
# 10 in binary is 1010 and 14 in binary is 1110
# & operator - Set each bit to 1 if both bits are 1 so result is 1010= 10 in decimal
10 & 14

10

In [21]:
# 15 in binary is 1111 and 10 in binary is 1010
# | operator - Set each bit to 1 if one of the bits are 1 so result is 1111= 15 in decimal
15 | 10

15

In [24]:
# 6 in binary is 0110
# << operator - shift left by inserting zeroes from left and right most digit is removed so result is 011000= 24 in decimal
6 << 2

24

In [26]:
# 6 in binary is 0110
# >> operator - shift right by inserting zeroes from right and left most digit is removed so result is 0001= 1 in decimal
6 >> 2

1

In [33]:
# 14 in binary is 1110 and 10 in binary is 1010
# ^ operator - Set each bit to 1 if only one of the bits is 1 so result is 0100= 4 in decimal
14 ^ 10

4